@import "tailwindcss";
:root{
  --main-100: hsl(207, 87%, 76%);
  --main-200: hsl(207, 71%, 53%);
  --main-300: hsl(207, 77%, 34%);

  --accent-100: hsl(229, 98%, 66%);
  --accent-200: hsl(229, 100%, 36%);
  --accent-300: hsl(229, 100%, 22%);

  --surface-100: hsl(0, 0%, 100%);
  --surface-200: hsl(0, 0%, 60%);
  --surface-300: hsl(0, 0%, 40%);

  --dark-100: hsl(0, 0%, 30%); 
  --dark-200: hsl(0, 0%, 15%); 
  --dark-300: hsl(0, 0%, 5%); 
}
@theme{
  --color-main-100:var(--main-100);
  --color-main-200:var(--main-200);
  --color-main-300:var(--main-300);

  --color-accent-100:var(--accent-100);
  --color-accent-200:var(--accent-200);
  --color-accent-300:var(--accent-300);
  
  --color-surface-100:var(--surface-100);
  --color-surface-200:var(--surface-200);
  --color-surface-300:var(--surface-300);

  --color-dark-100:var(--dark-100);
  --color-dark-200:var(--dark-200);
  --color-dark-300:var(--dark-300);
}

body{
  background-color: var(--surface-200);
  color:black;
}

@utility transition-smooth {
  transition: all 0.3s ease-out 0.1s;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: var(--dark-300);
    color: var(--surface-100);
  }
}
button{
  outline: none;
  cursor: pointer;
}